<div class="bg container-fluid" data-aos="zoom-out-right" data-aos-duration="1500">
  <div data-aos="zoom-out-up row-container" data-aos-duration="1500">
    <div class="row h-90 d-flex align-items-center">
      <div class="col-md-6 mt-3">
        <img data-aos="fade-down" data-aos-duration="1500" data-aos-delay="500" src="assets/img/banner/ciber-presto-House.png" class="img-fluid"
          alt="">
      </div>
      <div class="col-10 offset-1 col-md-3 offset-md-2 col-right mt-3" data-aos="fade-left" data-aos-duration="1500" data-aos-delay="500">
        <div class="row">
          <div class="col-12">
            <div class="text-center">
              <img src="assets/img/logos/Ciber-Chile_Presto_Logo.svg"
                class="img-logo" alt="">
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="text-center">
              <h5 class="text-blue mt-3">Administración de la gestión hipotecaria</h5>
              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3"><i class="pi pi-envelope" style="font-size: 2rem"></i></span>
                </div>
                <input type="text" class="form-control input-presto form-control-lg" placeholder="Correo electrónico*" id="basic-url" aria-describedby="basic-addon3">
              </div>
              <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3"><i class="pi pi-lock" style="font-size: 2rem"></i></span>
                </div>
                <input type="text" class="form-control input-presto form-control-lg" placeholder="Contraseña*" id="basic-url" aria-describedby="basic-addon3">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <a class="btn btn-primary">Ingresar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-12 col-md-6">
          <img src="assets/img/logos/Ciber-Chile_Banco_Chile_Logo.svg" class="img-footer" alt="">
        </div>
      </div>
      <div class="row">        
        <div class="col-12 col-md-5">
          <img src="assets/img/logos/Ciber-Chile_Presto_Legales.svg" class="img-footer-legales" alt="">
        </div>
      </div>
    </div>
  </footer>
</div>

